{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.listing_tags'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.sections.ecommerce'|trans},
            {label: 'backend.nav.listing_tags'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('ecommerce/backend/listing-tags/ListingTagsApp', {
    tags: tags,
    locales: locales,
    listPath: listPath,
    createPath: createPath,
    updatePath: updatePath,
    deletePath: deletePath,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
