{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.personal_finance_categories'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.sections.personal_finance'|trans},
            {label: 'backend.nav.personal_finance_categories'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('personalfinance/backend/category/PersonalFinanceCategoriesApp', {
    wallets: wallets,
    categoriesByWallet: categoriesByWallet,
    createCategoryPath: createCategoryPath,
    updateCategoryPath: updateCategoryPath,
    deleteCategoryPath: deleteCategoryPath,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
