{% extends 'Frontend/themes/default/layout.html.twig' %}

{% block seo_define %}{% do seo({title: 'frontend.checkout.title'|trans, noindex: true}) %}{% endblock %}

{% block body %}
<div {{ vue_component('ecommerce/frontend/checkout/CheckoutApp', {
    cart: cart,
    initialForm: initialForm,
    requiresShipping: requiresShipping,
    countries: countries,
    stripePublicKey: stripePublicKey,
    submitPath: submitPath,
    locale: locale,
}) }}></div>
{% endblock %}
