{% extends '@Core/admin/layout.html.twig' %}

{% block title %}{{ 'admin.nav.invoices'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'admin.modules.billing'|trans, href: path('billing_invoices')},
            {label: 'admin.nav.invoices'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('billing/admin/InvoicesApp', {
    invoices: invoices,
    search: search,
    listPath: listPath,
    showPath: showPath,
    deletePath: deletePath,
    exportXlsxPath: exportXlsxPath,
    importPath: importPath,
    statusOptions: statusOptions,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
