{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.profile'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.profile'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('general/backend/profile/ProfileApp', {
    userName: app.user.name,
    userEmail: app.user.email,
    userPhotoUrl: aurora_profile_photo_url(app.user) ?? '',
    userMoodMessage: app.user.moodMessage ?? '',
    moodMessageMaxLength: moodMessageMaxLength,
    locale: app.request.locale,
    updatePath: path('backend_general_profile_update'),
    passwordPath: path('backend_general_profile_password'),
    localePath: path('backend_general_profile_locale'),
    moodPath: path('backend_general_profile_mood'),
    photoUploadPath: path('backend_general_profile_photo_upload'),
    photoDeletePath: path('backend_general_profile_photo_delete'),
    deletePath: path('backend_general_profile_delete'),
    loginPath: path('backend_platform_login'),
    deleteCsrf: csrf_token('backend_general_profile_delete'),
    canDeleteAccount: canDeleteAccount,
    sidemenuPreferencesPath: path('backend_general_profile_sidemenu'),
    accountInfo: accountInfo,
}) }} class="flex-1"></div>
{% endblock %}
