{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.profile.preferences.title'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.profile'|trans, href: path('backend_profile')},
            {label: 'backend.profile.preferences.title'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('general/backend/profile/preferences/PreferencesApp', {
    navPreferences: navPreferences,
    sectionAliases: nav_section_aliases(),
    itemAliases: nav_item_aliases(),
    hiddenNavSections: hiddenNavSections,
    hiddenNavItems: hiddenNavItems,
    navSectionColors: navSectionColors,
    savePath: path('backend_profile_sidemenu_save'),
    resetPath: path('backend_profile_sidemenu_reset'),
}) }} class="flex-1"></div>
{% endblock %}
