{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'notes.markdown.title'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.sections.notes'|trans},
            {label: 'notes.markdown.title'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('notes/backend/markdown/MarkdownNotesApp', {
    notes: notes,
    listPath: listPath,
    showPath: showPath,
    createPath: createPath,
    updatePath: updatePath,
    deletePath: deletePath,
    movePath: movePath,
    reorderPath: reorderPath,
    backlinksPath: backlinksPath,
    unlinkedMentionsPath: unlinkedMentionsPath,
    graphPath: graphPath,
    searchPath: searchPath,
    tagsListPath: tagsListPath,
    tagsRenamePath: tagsRenamePath,
    tagsMergePath: tagsMergePath,
    tagsDeletePath: tagsDeletePath,
    imageUploadPath: imageUploadPath,
    imageMaxEdge: imageMaxEdge,
    imageQuality: imageQuality,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
