{% extends 'Frontend/themes/default/layout.html.twig' %}

{% block seo_define %}{% do seo({title: postType.label}) %}{% endblock %}

{% block body %}
<div {{ vue_component('editorial/frontend/ArchiveApp', {
    postType: postType,
    posts: posts,
    locale: locale,
    postPathTemplate: path('editorial_post', {locale: locale, postTypeSlug: '__postTypeSlug__', slug: '__slug__'}),
}) }}></div>
{% endblock %}
