{% extends 'Front/themes/default/layout.html.twig' %}

{% block title %}{{ 'front.checkout.title'|trans }} — {{ context.siteName }}{% endblock %}

{% block body %}
<div {{ vue_component('ecommerce/front/CheckoutApp', {
    cart: cart,
    initialForm: initialForm,
    requiresShipping: requiresShipping,
    countries: countries,
    stripePublicKey: stripePublicKey,
    submitPath: submitPath,
    locale: locale,
}) }}></div>
{% endblock %}
