{% extends 'Front/themes/default/layout.html.twig' %}

{% block title %}{{ 'frontend.order.title'|trans }} {{ order.number }} — {{ context.siteName }}{% endblock %}

{% block body %}
<div {{ vue_component('ecommerce/front/OrderShowApp', {
    order: order,
    locale: locale,
    shopPath: path('frontend_shop_index', {locale: locale}),
}) }}></div>
{% endblock %}
