{% extends 'Frontend/themes/default/layout.html.twig' %}

{% block title %}{{ context.siteName }}{% endblock %}

{% block body %}
<div {{ vue_component('editorial/frontend/HomeApp', {
    initialPosts: initialPosts,
    initialPage: initialPage,
    initialTotalPages: initialTotalPages,
    initialTotal: initialTotal,
    searchPath: searchPath,
    postTypeSlug: postTypeSlug,
    locale: locale,
}) }}></div>
{% endblock %}
