{% extends 'admin/layout.html.twig' %}

{% block title %}{{ 'nav.administration'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {% set tabLabels = {
        overview: 'admin.tabs.overview'|trans,
        users: 'admin.tabs.users'|trans,
        parameters: 'admin.tabs.parameters'|trans,
        invitations: 'admin.tabs.invitations'|trans,
        access_requests: 'admin.tabs.access_requests'|trans,
    } %}
    {{ include('components/page_header.html.twig', {
        crumbs: [
            {label: 'nav.administration'|trans, href: path('dev_dashboard')},
            {label: tabLabels[tab] ?? tab},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('AdministrationApp', {
    tab: tab,
    stats: tab == 'overview' ? stats : {},
    parameters: tab == 'parameters' ? parameters : {},
    users: tab == 'users' ? users : {},
    accessRequests: tab == 'access_requests' ? accessRequests : {},
    search: search ?? '',
    overviewPath: path('dev_dashboard'),
    parametersPath: path('dev_parameters'),
    parameterUpdatePath: path('dev_parameters_update', {key: '__key__'}),
    usersPath: path('dev_users'),
    userCreatePath: path('dev_users_create'),
    userUpdatePath: path('dev_users_update', {id: '__id__'}),
    userToggleRolePath: path('dev_users_toggle_role', {id: '__id__'}),
    userDeletePath: path('dev_users_delete', {id: '__id__'}),
    invitationsPath: path('dev_invitations'),
    invitationSendPath: path('dev_invitations_send'),
    accessRequestsPath: path('dev_access_requests'),
    accessRequestApprovePath: path('dev_access_requests_approve', {id: '__id__'}),
    accessRequestRejectPath: path('dev_access_requests_reject', {id: '__id__'}),
    accessRequestPurgePath: path('dev_access_requests_purge'),
    impersonatePath: path('admin_dashboard', {_switch_user: '__email__'}),
    csrfToken: csrf_token('admin'),
}) }} class="flex-1"></div>
{% endblock %}
