{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'notes.post_it.title'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.sections.notes'|trans},
            {label: 'notes.post_it.title'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('notes/backend/post_it/PostItNotesApp', {
    listPath: listPath,
    createPath: createPath,
    updatePath: updatePath,
    movePath: movePath,
    resizePath: resizePath,
    deletePath: deletePath,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
