{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.deals'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.modules.crm'|trans, href: path('backend_crm_contacts')},
            {label: 'backend.nav.deals'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('crm/backend/deals/DealsApp', {
    initialView: initialView,
    kanbanColumns: kanbanColumns,
    deals: deals,
    search: search,
    stages: stages,
    createPath: createPath,
    updatePath: updatePath,
    deletePath: deletePath,
    listPath: listPath,
    kanbanColumnsPath: kanbanColumnsPath,
    contactsListPath: contactsListPath,
    companiesListPath: companiesListPath,
    listRoutePath: path('backend_crm_deals'),
    kanbanRoutePath: path('backend_crm_deals_kanban'),
    updateStagePath: path('backend_crm_deals_stage', {id: '__id__'}),
    showPath: path('backend_crm_deals_show', {id: '__id__'}),
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
