{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.welding_workflows'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.sections.welding'|trans},
            {label: 'backend.nav.welding_workflows'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('welding/backend/workflows/WorkflowsApp', {}) }} class="flex-1 min-w-0"></div>
{% endblock %}
