{% extends 'Frontend/themes/default/layout.html.twig' %}

{% block seo_define %}{% do seo({
    title: translation.title,
    description: translation.description|default(''),
}) %}{% endblock %}

{% block body %}
    <div {{ vue_component('editorial/frontend/FormRenderApp', {
        submitPath: path('editorial_form_submit', {locale: locale, slug: translation.slug}),
        formTitle: translation.title,
        formDescription: translation.description,
        fields: fields,
        steps: steps,
    }) }}></div>
{% endblock %}
