{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.personal_finance_import'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.sections.personal_finance'|trans},
            {label: 'backend.nav.personal_finance_import'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('personalfinance/backend/import/PersonalFinanceImportApp', {
    wallets: wallets,
    previewPath: previewPath,
    processPath: processPath,
    templatePath: templatePath,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
