{% extends '@Core/admin/layout.html.twig' %}

{% block title %}{{ 'backend.nav.dashboard'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.dashboard'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('core/admin/dashboard/DashboardApp') }}></div>
{% endblock %}
