{% extends '@Core/admin/layout.html.twig' %}

{% block title %}{{ 'admin.nav.media'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'admin.nav.media'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('core/admin/media/MediaApp', {
    folders: folders,
    media: media,
    currentFolderId: currentFolderId,
    search: search,
    uploadPath: path('admin_media_upload'),
    editPath: path('admin_media_edit', {id: '__id__'}),
    deletePath: path('admin_media_delete', {id: '__id__'}),
    movePath: path('admin_media_move', {id: '__id__'}),
    folderCreatePath: path('admin_media_folder_create'),
    folderEditPath: path('admin_media_folder_edit', {id: '__id__'}),
    folderDeletePath: path('admin_media_folder_delete', {id: '__id__'}),
    reorderPath: path('admin_media_reorder'),
    bulkDeletePath: path('admin_media_bulk_delete'),
    listPath: path('admin_media_list'),
    bulkMovePath: path('admin_media_bulk_move'),
    cropPath: path('admin_media_crop', {id: '__id__'}),
    totalStorageBytes: totalStorageBytes,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
