{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.personal_finance_recurring'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.sections.personal_finance'|trans},
            {label: 'backend.nav.personal_finance_recurring'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('personalfinance/backend/recurring/PersonalFinanceRecurringApp', {
    wallets: wallets,
    categoriesByWallet: categoriesByWallet,
    types: types,
    recurring: recurring,
    scheduled: scheduled,
    createRecurringPath: createRecurringPath,
    updateRecurringPath: updateRecurringPath,
    toggleRecurringPath: toggleRecurringPath,
    deleteRecurringPath: deleteRecurringPath,
    createScheduledPath: createScheduledPath,
    updateScheduledPath: updateScheduledPath,
    materializeScheduledPath: materializeScheduledPath,
    deleteScheduledPath: deleteScheduledPath,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
