{% extends 'Frontend/themes/default/layout.html.twig' %}

{% block seo_define %}{% do seo({
    title: translationData.metaTitle ?? translationData.title,
    description: translationData.metaDescription,
    image: translationData.ogImage ?? featuredMediaData,
    canonical: translationData.canonicalUrl ?: (translationData.slug ? path('editorial_post', {locale: locale, postTypeSlug: postData.postType.slug, slug: translationData.slug}) : ''),
    type: 'article',
    noindex: translationData.noindex|default(false),
    jsonLd: translationData.jsonLd|default(null),
    extraMeta: postData.publishedAt ? '<meta property="article:published_time" content="' ~ postData.publishedAt ~ '">' : '',
}) %}{% endblock %}

{% block body %}
<div {{ vue_component('editorial/frontend/PostApp', {
    post: postData,
    translation: translationData,
    featuredMedia: featuredMediaData,
    content: content,
    commentsEnabled: commentsEnabled,
    locale: locale,
    listPath: translationData.slug ? path('editorial_post_comments_list', {locale: locale, postTypeSlug: postData.postType.slug, slug: translationData.slug}) : null,
    submitPath: translationData.slug ? path('editorial_post_comment', {locale: locale, postTypeSlug: postData.postType.slug, slug: translationData.slug}) : null,
    reactPathTemplate: translationData.slug ? path('editorial_comment_react', {locale: locale, postTypeSlug: postData.postType.slug, slug: translationData.slug, commentId: '__commentId__'}) : null,
}) }}></div>
{% endblock %}
