{% extends '@Core/admin/base_guest.html.twig' %}

{% block title %}{{ 'admin.auth.forgot_password.title'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div {{ vue_component('core/admin/auth/ForgotPasswordApp', {
        submitPath: path('admin_forgot_password'),
        loginPath: path('admin_login'),
        status: status ?? '',
    }) }}></div>
{% endblock %}
