{% extends '@Core/admin/layout.html.twig' %}

{% block title %}{{ 'admin.nav.products'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {title: 'admin.nav.products'|trans}) }}
{% endblock %}

{% block body %}
<div {{ vue_component('erp/admin/ProductsApp', {
    products: products,
    search: search,
    createPath: createPath,
    updatePath: updatePath,
    deletePath: deletePath,
    showPath: showPath,
    listPath: path('erp_products_list'),
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
