{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.ged_folders'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.sections.ged'|trans},
            {label: 'backend.nav.ged_folders'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('ged/backend/document-folders/DocumentFoldersApp', {
    folders: folders,
    createPath: createPath,
    updatePath: updatePath,
    deletePath: deletePath,
    movePath: movePath,
    reorderPath: reorderPath,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
