{% extends 'admin/layout.html.twig' %}

{% block title %}{{ 'nav.tags'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('components/page_header.html.twig', {title: 'nav.tags'|trans}) }}
{% endblock %}

{% block body %}
<div {{ vue_component('TagsApp', {
    tagsPath: path('admin_tags'),
    tags: tags,
    search: search,
    createPath: path('admin_tags_create'),
    editPath: path('admin_tags_edit', {id: '__id__'}),
    deletePath: path('admin_tags_delete', {id: '__id__'}),
}) }} class="flex-1"></div>
{% endblock %}
