{% extends 'Frontend/themes/default/auth/layout.html.twig' %}

{% block seo_define %}{% do seo({title: 'frontend.account.title'|trans, noindex: true}) %}{% endblock %}

{% block body %}
<div {{ vue_component('core/frontend/AccountApp', {
    logoutPath: path('frontend_logout', {locale: locale}),
    user: {name: user.name, email: user.email},
}) }}></div>
{% endblock %}
