{% extends 'Frontend/themes/default/auth/layout.html.twig' %}

{% block seo_define %}{% do seo({title: 'frontend.register.confirm_title'|trans, noindex: true}) %}{% endblock %}

{% block body %}
    <div {{ vue_component('core/frontend/auth/RegisterConfirmApp', {
        loginPath: path('frontend_login', {locale: locale}),
        resendPath: path('frontend_resend_verification', {locale: locale}),
        pendingEmail: pendingEmail|default(''),
        resent: resent|default(false),
    }) }}></div>
{% endblock %}
