{% extends 'Frontend/themes/default/auth/layout.html.twig' %}

{% block seo_define %}{% do seo({title: 'frontend.register.title'|trans, noindex: true}) %}{% endblock %}

{% block body %}
<div {{ vue_component('core/frontend/auth/RegisterApp', {
    registerPath: path('frontend_register', {locale: locale}),
    loginPath: path('frontend_login', {locale: locale}),
    registrationEnabled: registrationEnabled,
    initialErrors: errors,
    values: {name: values.name ?? '', email: values.email ?? ''},
}) }}></div>
{% endblock %}
