{% extends 'Frontend/themes/default/auth/layout.html.twig' %}

{% block seo_define %}{% do seo({title: 'frontend.verify_email.title'|trans, noindex: true}) %}{% endblock %}

{% block body %}
<div {{ vue_component('core/frontend/auth/VerifyEmailApp', {
    success: success,
    loginPath: path('frontend_login', {locale: locale}),
    registerPath: path('frontend_register', {locale: locale}),
}) }}></div>
{% endblock %}
