{% extends '@Core/admin/layout.html.twig' %}

{% block title %}{{ 'admin.nav.documents'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'admin.modules.ged'|trans, href: path('ged_documents')},
            {label: 'admin.nav.documents'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('ged/admin/DocumentsApp', {
    documents: documents,
    categories: categories,
    search: search,
    createPath: createPath,
    updatePath: updatePath,
    deletePath: deletePath,
    listPath: listPath,
    mediaPickerPath: mediaPickerPath,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
