{% extends 'admin/layout.html.twig' %}

{% block title %}{{ 'nav.users'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('components/page_header.html.twig', {title: 'nav.users'|trans}) }}
{% endblock %}

{% block body %}
<div {{ vue_component('UsersApp', {
    roles: roles,
    isDev: isDev,
    currentUserPriority: currentUserPriority,
    listPath: path('admin_users_list'),
    invitePath: path('admin_users_invite'),
    updatePath: path('admin_users_update', {id: '__id__'}),
    resendInvitationPath: path('admin_users_resend_invitation', {id: '__id__'}),
    toggleDisabledPath: path('admin_users_toggle_disabled', {id: '__id__'}),
    impersonatePath: path('admin_dashboard', {_switch_user: '__email__'}),
    deletePath: path('admin_users_delete', {id: '__id__'}),
    currentUserId: app.user.id,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
