{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.billing.compliance.title'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.modules.billing'|trans, href: path('backend_billing_invoices')},
            {label: 'backend.billing.compliance.title'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('billing/backend/ComplianceApp', {
    reportPath: path('backend_billing_compliance_report'),
    invoicesPath: path('backend_billing_invoices'),
    showPath: path('backend_billing_invoices_show', {id: '__id__'}),
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
