{% extends 'Frontend/themes/default/layout.html.twig' %}

{% block seo_define %}{% do seo({title: 'frontend.order.title'|trans ~ ' ' ~ order.number, noindex: true}) %}{% endblock %}

{% block body %}
<div {{ vue_component('ecommerce/frontend/OrderShowApp', {
    order: order,
    locale: locale,
    shopPath: path('frontend_shop_index', {locale: locale}),
}) }}></div>
{% endblock %}
