{% extends '@Core/admin/layout.html.twig' %}

{% block title %}{{ 'backend.nav.ocr_import'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        title: 'backend.nav.ocr_import'|trans,
        crumbs: [
            {label: 'backend.modules.billing'|trans, href: path('backend_billing_invoices')},
            {label: 'backend.nav.invoices'|trans, href: path('backend_billing_invoices')},
            {label: 'backend.nav.ocr_import'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('billing/admin/ocr/OcrImportApp', {
    recentJobs: recentJobs,
    uploadPath: uploadPath,
    jobsPath: jobsPath,
    invoicesPath: invoicesPath,
    invoiceShowPath: invoiceShowPath,
    statusUrlTemplate: statusUrlTemplate,
    retryPath: retryPath,
    deletePath: deletePath,
    validatePathTemplate: validatePathTemplate,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
