{% extends '@Core/admin/layout.html.twig' %}

{% block title %}{{ 'admin.nav.ocr_import'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        title: 'admin.nav.ocr_import'|trans,
        crumbs: [
            {label: 'admin.modules.billing'|trans, href: path('billing_invoices')},
            {label: 'admin.nav.ocr_import'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('billing/admin/OcrImportApp', {
    recentJobs: recentJobs,
    uploadPath: uploadPath,
    jobsPath: jobsPath,
    invoicesPath: invoicesPath,
    statusUrlTemplate: statusUrlTemplate,
    retryPath: retryPath,
    deletePath: deletePath,
}) }} class="flex-1 min-w-0 px-4 sm:px-6 lg:px-8 py-6"></div>
{% endblock %}
