{% extends '@Core/admin/layout.html.twig' %}

{% block title %}Jobs OCR - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        title: 'Jobs OCR',
        crumbs: [
            {label: 'admin.modules.billing'|trans, href: path('billing_invoices')},
            {label: 'admin.nav.ocr_import'|trans, href: path('billing_ocr_import')},
            {label: 'Jobs'},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('billing/admin/OcrJobsApp', {
    jobs: jobs,
    listPath: listPath,
    statusUrlTemplate: statusUrlTemplate,
    invoicesPath: invoicesPath,
    importPath: importPath,
    statusOptions: statusOptions,
}) }} class="flex-1 min-w-0 px-4 sm:px-6 lg:px-8 py-6"></div>
{% endblock %}
