{% extends '@Core/admin/layout.html.twig' %}

{% block title %}{{ 'admin.nav.themes'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'admin.nav.themes'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('core/admin/ThemesApp', {
    themes: themes,
    activatePath: path('admin_themes_activate', {id: '__id__'}),
    updatePath: path('admin_themes_update', {id: '__id__'}),
    deletePath: path('admin_themes_delete', {id: '__id__'}),
    createPath: path('admin_themes_create'),
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
