{% extends '@Core/admin/layout.html.twig' %}

{% block title %}{{ 'backend.nav.users'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.users'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('core/admin/users/UsersApp', {
    roles: roles,
    isDev: isDev,
    currentUserPriority: currentUserPriority,
    privilegesByModule: privilegesByModule,
    privilegesPath: path('backend_users_privileges', {id: '__id__'}),
    agencies: agencies,
    services: services,
    listPath: path('backend_users_list'),
    invitePath: path('backend_users_invite'),
    updatePath: path('backend_users_update', {id: '__id__'}),
    resendInvitationPath: path('backend_users_resend_invitation', {id: '__id__'}),
    toggleDisabledPath: path('backend_users_toggle_disabled', {id: '__id__'}),
    impersonatePath: path('backend_dashboard', {_switch_user: '__email__'}),
    impersonateFrontPath: path('backend_users_impersonate_frontend', {id: '__id__'}),
    deletePath: path('backend_users_delete', {id: '__id__'}),
    photoUploadPath: path('backend_users_photo_upload', {id: '__id__'}),
    photoDeletePath: path('backend_users_photo_delete', {id: '__id__'}),
    selectablePath: path('backend_users_selectable'),
    showPath: path('backend_users_show', {id: '__id__'}),
    currentUserId: app.user.id,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
