{% extends '@Core/admin/layout.html.twig' %}

{% block title %}{{ 'admin.nav.users'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'admin.nav.users'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('core/admin/users/UsersApp', {
    roles: roles,
    isDev: isDev,
    currentUserPriority: currentUserPriority,
    privilegesByModule: privilegesByModule,
    privilegesPath: path('admin_users_privileges', {id: '__id__'}),
    listPath: path('admin_users_list'),
    invitePath: path('admin_users_invite'),
    updatePath: path('admin_users_update', {id: '__id__'}),
    resendInvitationPath: path('admin_users_resend_invitation', {id: '__id__'}),
    toggleDisabledPath: path('admin_users_toggle_disabled', {id: '__id__'}),
    impersonatePath: path('admin_dashboard', {_switch_user: '__email__'}),
    deletePath: path('admin_users_delete', {id: '__id__'}),
    photoUploadPath: path('admin_users_photo_upload', {id: '__id__'}),
    photoDeletePath: path('admin_users_photo_delete', {id: '__id__'}),
    selectablePath: path('admin_users_selectable'),
    showPath: path('admin_users_show', {id: '__id__'}),
    currentUserId: app.user.id,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
