{% extends 'base_guest.html.twig' %}

{% block title %}{{ 'auth.forgot_password.title'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div {{ vue_component('AdminForgotPasswordApp', {
        submitPath: path('admin_forgot_password'),
        loginPath: path('admin_login'),
        status: status ?? '',
    }) }}></div>
{% endblock %}
