{% extends 'base_guest.html.twig' %}

{% block title %}{{ 'auth.login.title'|trans }} - {{ parent() }}{% endblock %}

{% block hero %}
    {{ include('components/auth_hero.html.twig') }}
{% endblock %}

{% block content %}
    <div {{ vue_component('AdminLoginApp', {
        checkPath: path('admin_login'),
        csrfToken: csrf_token('authenticate'),
        forgotPath: path('admin_forgot_password'),
        registerPath: path('admin_register'),
        accessRequestPath: path('admin_access_request'),
        registrationEnabled: registrationEnabled,
        lastUsername: last_username,
        errorMessage: error ? error.messageKey|trans(error.messageData, 'security') : '',
    }) }}></div>
{% endblock %}
