{% extends 'base_guest.html.twig' %}

{% block title %}{{ 'auth.reset_password.title'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div {{ vue_component('AdminResetPasswordApp', {
        submitPath: path('admin_reset_password', {selector: selector, token: token}),
        initialErrors: errors,
    }) }}></div>
{% endblock %}
