{% extends 'admin/base_guest.html.twig' %}

{% block title %}{{ 'admin.auth.reset_password.title'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div {{ vue_component('admin/auth/ResetPasswordApp', {
        submitPath: path('admin_reset_password', {selector: selector, token: token}),
        initialErrors: errors,
    }) }}></div>
{% endblock %}
