{% extends '@Core/admin/layout.html.twig' %}

{% block title %}{{ 'backend.nav.services'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [{label: 'backend.nav.services'|trans}],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('core/admin/services/ServicesApp', {
    services: services,
    createPath: path('backend_services_create'),
    updatePath: path('backend_services_update', {id: '__id__'}),
    deletePath: path('backend_services_delete', {id: '__id__'}),
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
