{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.employees'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {crumbs: [{label: 'backend.nav.sections.hr'|trans}, {label: 'backend.nav.employees'|trans}]}) }}
{% endblock %}

{% block body %}
<div {{ vue_component('hr/backend/employees/EmployeesApp', {
    initialData: employees,
    search: search,
    listPath: path('backend_hr_employees_list'),
    createPath: path('backend_hr_employees_create'),
    updatePath: path('backend_hr_employees_update', {id: '__id__'}),
    deletePath: path('backend_hr_employees_delete', {id: '__id__'}),
    usersSelectablePath: path('backend_users_selectable'),
    servicesSelectablePath: path('backend_services_selectable'),
    agenciesSelectablePath: path('backend_agencies_selectable'),
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
