{% extends '@Core/admin/layout.html.twig' %}

{% block title %}{{ 'admin.nav.companies'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'admin.modules.crm'|trans, href: path('backend_crm_contacts')},
            {label: 'admin.nav.companies'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('crm/admin/CompaniesApp', {
    companies: companies,
    search: search,
    createPath: createPath,
    updatePath: updatePath,
    deletePath: deletePath,
    listPath: listPath,
    showPath: path('backend_crm_companies_show', {id: '__id__'}),
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
