@layer base {
    button, [role="button"], [type="button"], [type="submit"], [type="reset"] {
        cursor: pointer;
    }
}

body {
    background-color: var(--th-bg);
    color: var(--color-primary);
}
