{% extends '@Core/admin/layout.html.twig' %}

{% block title %}{{ 'admin.nav.comments'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'admin.nav.comments'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('editorial/admin/CommentsApp', {
    listPath: path('admin_comments_list'),
    approvePath: path('admin_comments_approve', {id: '__id__'}),
    spamPath: path('admin_comments_spam', {id: '__id__'}),
    deletePath: path('admin_comments_delete', {id: '__id__'}),
    toggleModerationPath: path('admin_comments_toggle_moderation'),
    stats: stats,
    moderationEnabled: moderationEnabled,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
