{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.orders'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.modules.ecommerce'|trans, href: path('backend_ecommerce_listings')},
            {label: 'backend.nav.orders'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('ecommerce/backend/orders/OrdersApp', {
    orders: orders,
    search: search,
    currentStatus: currentStatus,
    stats: stats,
    showPath: showPath,
    listPath: listPath,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
