{% extends '@Core/admin/layout.html.twig' %}

{% block title %}{{ 'backend.nav.profile'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.profile'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('core/admin/profile/ProfileApp', {
    userName: app.user.name,
    userEmail: app.user.email,
    userPhotoUrl: app.user.profilePhotoUrl ?? '',
    userMoodMessage: app.user.moodMessage ?? '',
    moodMessageMaxLength: moodMessageMaxLength,
    locale: app.request.locale,
    updatePath: path('backend_profile_update'),
    passwordPath: path('backend_profile_password'),
    localePath: path('backend_profile_locale'),
    moodPath: path('backend_profile_mood'),
    photoUploadPath: path('backend_profile_photo_upload'),
    photoDeletePath: path('backend_profile_photo_delete'),
    deletePath: path('backend_profile_delete'),
    loginPath: path('backend_login'),
    deleteCsrf: csrf_token('backend_profile_delete'),
}) }} class="flex-1"></div>
{% endblock %}
