{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.listings'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.sections.ecommerce'|trans},
            {label: 'backend.nav.listings'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('ecommerce/backend/listings/ListingsApp', {
    listings: listings,
    search: search,
    createPath: createPath,
    updatePath: updatePath,
    deletePath: deletePath,
    showPath: showPath,
    listPath: path('backend_ecommerce_listings_list'),
    productsPath: productsPath,
    categoriesPath: categoriesPath,
    tagsPath: tagsPath,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
