{% extends 'admin/layout.html.twig' %}

{% block title %}{{ 'nav.dashboard'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('components/page_header.html.twig', {title: 'nav.dashboard'|trans}) }}
{% endblock %}

{% block body %}
<div {{ vue_component('DashboardApp') }}></div>
{% endblock %}
