{% extends 'admin/layout.html.twig' %}

{% block title %}{{ 'admin.nav.dashboard'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('shared/components/page_header.html.twig', {title: 'admin.nav.dashboard'|trans}) }}
{% endblock %}

{% block body %}
<div {{ vue_component('admin/DashboardApp') }}></div>
{% endblock %}
