{% extends '@Core/admin/layout.html.twig' %}

{% block title %}{{ 'admin.nav.forms'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'admin.nav.forms'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('editorial/admin/FormsApp', {
    locales: locales,
    listPath: path('admin_forms_list'),
    getPath: path('admin_forms_get', {id: '__id__'}),
    createPath: path('admin_forms_create'),
    updatePath: path('admin_forms_update', {id: '__id__'}),
    deletePath: path('admin_forms_delete', {id: '__id__'}),
    fieldCreatePath: path('admin_forms_field_create', {id: '__id__'}),
    fieldUpdatePath: path('admin_forms_field_update', {id: '__id__', fieldId: '__fieldId__'}),
    fieldDeletePath: path('admin_forms_field_delete', {id: '__id__', fieldId: '__fieldId__'}),
    fieldReorderPath: path('admin_forms_field_reorder', {id: '__id__'}),
    submissionsPath: path('admin_forms_submissions', {id: '__id__'}),
    exportPath: path('admin_forms_submissions_export', {id: '__id__'}),
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
