{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.agencies'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [{label: 'backend.nav.sections.platform'|trans}, {label: 'backend.nav.agencies'|trans}],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('platform/backend/agencies/AgenciesApp', {
    agencies: agencies,
    createPath: path('backend_platform_agencies_create'),
    updatePath: path('backend_platform_agencies_update', {id: '__id__'}),
    deletePath: path('backend_platform_agencies_delete', {id: '__id__'}),
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
