{% extends 'Frontend/themes/default/layout.html.twig' %}

{% block seo_define %}{% do seo({
    title: listing.seoTitle ?? listing.displayTitle,
    description: listing.seoDescription ?? listing.marketingDescription,
    image: listing.featuredImage,
    type: 'product',
}) %}{% endblock %}

{% block body %}
<div {{ vue_component('ecommerce/frontend/ShopProductApp', {
    listing: listing,
    locale: locale,
    cartAddPath: path('frontend_cart_add', {locale: locale}),
    shopPath: path('frontend_shop_index', {locale: locale}),
}) }}></div>
{% endblock %}
