{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.personal_finance_budget_presets'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.sections.personal_finance'|trans},
            {label: 'backend.nav.personal_finance_budget_presets'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('personalfinance/backend/budgetPreset/PersonalFinanceBudgetPresetsApp', {
    wallets: wallets,
    categoriesByWallet: categoriesByWallet,
    selectedWalletId: selectedWalletId,
    presets: presets,
    sections: sections,
    applyModes: applyModes,
    listPath: listPath,
    createPath: createPath,
    updatePath: updatePath,
    deletePath: deletePath,
    applyPath: applyPath,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
