{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.documents'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.sections.ged'|trans},
            {label: 'backend.nav.documents'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('ged/backend/documents/DocumentsApp', {
    documents: documents,
    categories: categories,
    tags: tags,
    folders: folders,
    search: search,
    showPath: showPath,
    versionsPath: versionsPath,
    usagePath: usagePath,
    createPath: createPath,
    updatePath: updatePath,
    deletePath: deletePath,
    bulkDeletePath: bulkDeletePath,
    listPath: listPath,
    uploadPath: uploadPath,
    cropPath: cropPath,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
