{% extends 'Frontend/themes/default/layout.html.twig' %}

{% block seo_define %}{% do seo({title: 'ged.frontend.documents.title'|trans, noindex: true}) %}{% endblock %}

{% block body %}
<div {{ vue_component('ged/frontend/DocumentsApp', {
    initialItems: initialItems,
    initialPage: initialPage,
    initialTotalPages: initialTotalPages,
    initialTotal: initialTotal,
    searchPath: searchPath,
}) }}></div>
{% endblock %}
