{% extends 'Frontend/themes/default/layout.html.twig' %}

{% block title %}{{ 'ged.frontend.documents.title'|trans }}{% endblock %}

{% block body %}
<div {{ vue_component('ged/frontend/DocumentsApp', {
    initialItems: initialItems,
    initialPage: initialPage,
    initialTotalPages: initialTotalPages,
    initialTotal: initialTotal,
    searchPath: searchPath,
}) }}></div>
{% endblock %}
