{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.projects'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {crumbs: [{label: 'backend.nav.sections.project'|trans}, {label: 'backend.nav.projects'|trans}]}) }}
{% endblock %}

{% block body %}
<div {{ vue_component('project/backend/projects/ProjectsApp', {
    listPath: path('backend_projects_list'),
    createPath: path('backend_projects_create'),
    showPath: path('backend_projects_show', {id: '__id__'}),
    updatePath: path('backend_projects_update', {id: '__id__'}),
    deletePath: path('backend_projects_delete', {id: '__id__'}),
    taskCreatePath: path('backend_projects_task_create', {id: '__id__'}),
    taskUpdatePath: path('backend_projects_task_update', {taskId: '__taskId__'}),
    taskDeletePath: path('backend_projects_task_delete', {taskId: '__taskId__'}),
    taskReorderPath: path('backend_projects_tasks_reorder', {id: '__id__'}),
    columnCreatePath: path('backend_projects_column_create', {id: '__id__'}),
    columnUpdatePath: path('backend_projects_column_update', {columnId: '__columnId__'}),
    columnDeletePath: path('backend_projects_column_delete', {columnId: '__columnId__'}),
    columnReorderPath: path('backend_projects_columns_reorder', {id: '__id__'}),
    activityPath: path('backend_projects_activity', {id: '__id__'}),
    labelCreatePath: path('backend_projects_label_create', {id: '__id__'}),
    labelUpdatePath: path('backend_projects_label_update', {labelId: '__labelId__'}),
    labelDeletePath: path('backend_projects_label_delete', {labelId: '__labelId__'}),
    taskItemsReplacePath: path('backend_projects_task_items_replace', {taskId: '__taskId__'}),
    taskTimeEntryCreatePath: path('backend_projects_task_time_entry_create', {taskId: '__taskId__'}),
    taskTimeEntryDeletePath: path('backend_projects_task_time_entry_delete', {entryId: '__entryId__'}),
    taskCommentCreatePath: path('backend_projects_task_comment_create', {taskId: '__taskId__'}),
    taskCommentDeletePath: path('backend_projects_task_comment_delete', {commentId: '__commentId__'}),
    taskAttachmentsAttachPath: path('backend_projects_task_attachments_attach', {taskId: '__taskId__'}),
    taskAttachmentDetachPath: path('backend_projects_task_attachment_detach', {taskId: '__taskId__', mediaId: '__mediaId__'}),
    sprintCreatePath: path('backend_projects_sprint_create', {id: '__id__'}),
    sprintUpdatePath: path('backend_projects_sprint_update', {sprintId: '__sprintId__'}),
    sprintDeletePath: path('backend_projects_sprint_delete', {sprintId: '__sprintId__'}),
    savedViewListPath: path('backend_projects_saved_view_list', {id: '__id__'}),
    savedViewCreatePath: path('backend_projects_saved_view_create', {id: '__id__'}),
    savedViewDeletePath: path('backend_projects_saved_view_delete', {viewId: '__viewId__'}),
    generateInvoicePath: path('backend_projects_generate_invoice', {id: '__id__'}),
    statusOptions: statusOptions,
    priorityOptions: priorityOptions,
    users: users,
    crmContacts: crmContacts,
    crmCompanies: crmCompanies,
    crmDeals: crmDeals,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
