{% extends '@Core/admin/layout.html.twig' %}

{% block title %}{{ 'admin.crm.deals.kanban'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        title: 'admin.crm.deals.kanban'|trans,
        crumbs: [
            {label: 'admin.nav.deals'|trans, href: listPath},
            {label: 'admin.crm.deals.kanban'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('crm/admin/DealKanbanApp', {
    columns: columns,
    stages: stages,
    updateStagePath: updateStagePath,
    listPath: listPath,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
