{% extends 'Frontend/themes/default/layout.html.twig' %}

{% block seo_define %}{% do seo({
    title: term.translation.name,
    description: term.translation.description|default(''),
}) %}{% endblock %}

{% block body %}
<div {{ vue_component('editorial/frontend/TermApp', {
    taxonomy: taxonomy,
    term: term,
    posts: posts,
    locale: locale,
    postPathTemplate: path('editorial_post', {locale: locale, postTypeSlug: '__postTypeSlug__', slug: '__slug__'}),
}) }}></div>
{% endblock %}
