{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.vault'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.sections.tools'|trans},
            {label: 'backend.nav.vault'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('tools/backend/vault/VaultApp', {
    vaultConfig: vaultConfig,
    entries: entries,
    folders: folders,
    setupPath: setupPath,
    changeMasterPasswordPath: changeMasterPasswordPath,
    destroyVaultPath: destroyVaultPath,
    createEntryPath: createEntryPath,
    updateEntryPath: updateEntryPath,
    deleteEntryPath: deleteEntryPath,
    toggleFavoritePath: toggleFavoritePath,
    moveEntryPath: moveEntryPath,
    createFolderPath: createFolderPath,
    updateFolderPath: updateFolderPath,
    deleteFolderPath: deleteFolderPath,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
