{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.invoices'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.sections.billing'|trans},
            {label: 'backend.nav.invoices'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('billing/backend/InvoicesApp', {
    invoices: invoices,
    stats: stats,
    search: search,
    listPath: listPath,
    showPath: showPath,
    deletePath: deletePath,
    exportXlsxPath: exportXlsxPath,
    importPath: importPath,
    statusOptions: statusOptions,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
