{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.products'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.sections.erp'|trans},
            {label: 'backend.nav.products'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('erp/backend/products/ProductsApp', {
    products: products,
    search: search,
    createPath: createPath,
    updatePath: updatePath,
    deletePath: deletePath,
    showPath: showPath,
    listPath: path('backend_erp_products_list'),
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
