{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.pdfform_templates'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.sections.pdfform'|trans},
            {label: 'backend.nav.pdfform_templates'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('pdfform/backend/templates/PdfTemplatesApp', {
    templates: templates,
    search: search,
    createPath: createPath,
    updatePath: updatePath,
    deletePath: deletePath,
    detectFieldsPath: detectFieldsPath,
    updateFieldPath: updateFieldPath,
    listPath: listPath,
    mediaPickerPath: mediaPickerPath,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
