{% extends 'admin/layout.html.twig' %}

{% block title %}{{ 'admin.nav.settings'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('shared/components/page_header.html.twig', {title: 'admin.nav.settings'|trans}) }}
{% endblock %}

{% block body %}
<div {{ vue_component('admin/SettingsApp', {
    groups: groups,
    updatePath: path('admin_settings_update'),
    mediaPickerPath: mediaPickerPath,
    postSearchPath: postSearchPath,
}) }}></div>
{% endblock %}
