{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.tiers'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.sections.billing'|trans},
            {label: 'backend.nav.tiers'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('billing/backend/TiersApp', {
    tiersData: tiers,
    search: search,
    typeFilter: typeFilter,
    typeOptions: typeOptions,
    listPath: listPath,
    deletePath: deletePath,
    showPath: showPath,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
